<div class="header">
    <div class="header__sub">

    </div>
    <div class="header__container">
        <nav class="header__menu">
            <a routerLink="/" class="header__menu--logo">
                <img src="logo.png" alt="Logo" height="140" width="105px">
            </a>

            <ul class="header__menu--list">

                <li class="header__menu--item">
                    <a routerLink="/news" routerLinkActive="active" class="header__menu--link">News</a>
                </li>
                <li class="header__menu--item">
                    <a routerLink="/videos" routerLinkActive="active" class="header__menu--link">Videos</a>
                </li>
                <li class="header__menu--item">
                    <a class="header__menu--link">Teams</a>
                </li>
                <li class="header__menu--item">
                    <a class="header__menu--link">Matches</a>
                </li>
                <li class="header__menu--item">
                    <a class="header__menu--link">History</a>
                </li>
                <li class="header__menu--item">
                    <a class="header__menu--link">Club</a>
                </li>

            </ul>
        </nav>
        @if(activeUser$ | async; as activeUser) {
        <div class="header__user">
            <div class="header__notification">
                <span class="header__notification-logo" [attr.notification]="total > 0 ? total : null"
                    (click)="openModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                        fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                        <path
                            d="M22 19h-8.28a2 2 0 11-3.44 0H2v-1a4.52 4.52 0 011.17-2.83l1-1.17h15.7l1 1.17A4.42 4.42 0 0122 18zM18.21 7.44A6.27 6.27 0 0012 2a6.27 6.27 0 00-6.21 5.44L5 13h14z">
                        </path>
                    </svg>

                    @if(showModal && notifications) {
                    <app-header-notification-modal [notifications]="notifications" (click)="$event.stopPropagation()"
                        (onCloseModal)="showModal = false"
                        (loadNotifications)="loadMore()"></app-header-notification-modal>
                    }
                </span>
            </div>
            <a routerLink="/user-profile" class="header__link">
                <p class="header__link--name">{{activeUser.username}}</p>
                <div class="header__link--initials">{{activeUser.username[0]}}</div>
            </a>
            <span class="header__notification-logout" (click)="signOut()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="28" viewBox="0 0 24 24" width="28">
                    <path
                        d="M17 16L21 12M21 12L17 8M21 12L7 12M13 16V17C13 18.6569 11.6569 20 10 20H6C4.34315 20 3 18.6569 3 17V7C3 5.34315 4.34315 4 6 4H10C11.6569 4 13 5.34315 13 7V8"
                        stroke="#374151" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                </svg>
            </span>
        </div>
        }@else {
        <a routerLink="/sign-in" class="header__reg--inner">
            <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                <g data-name="60.User" fill="#fff">
                    <path
                        d="M12 12a4 4 0 1 1 4-4 4 4 0 0 1-4 4zm0-6a2 2 0 1 0 2 2 2 2 0 0 0-2-2zM18.9 21.166l-1.972-.332a5 5 0 1 0-9.862 0l-1.966.332a7 7 0 1 1 13.806 0z" />
                    <path
                        d="M12 24a12 12 0 1 1 12-12 12.013 12.013 0 0 1-12 12zm0-22a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2z" />
                </g>
            </svg>
        </a>
        }
    </div>
</div>