<div class="news-detail">
    <div class="news-detail__wrapper">
        <div class="news-detail__container">

            <h1 class="news-detail__title">{{post?.title}}</h1>
            <div class="news-detail__meta">
                <span class="news-detail__date">{{post?.createdAt}}</span>
            </div>

            <figure class="news-detail__image">
                <img class="news-detail__image-img" src="{{post?.imgUrl}}" alt="{{post?.title}}">
            </figure>


            <div class="news-detail__tag">
                <h3 class="news-detail__tag-header">Tags</h3>
                <div class="news-detail__tag-container">
                    @for(tag of post?.tags; track tag.id){
                    <a [routerLink]="['/tags', tag.id]" class="news-detail__tag-link">{{tag.title}}</a>
                    }
                </div>
            </div>

            <div class="news-detail__content">
                <h2 class="news-detail__subtitle">{{post?.shortDescription}}</h2>
                <p class="news-detail__text">{{post?.article}}</p>
            </div>
        </div>


        <div class="news-detail__sim-news" style="height: 360px;">
            <h3 class="news-detail__sim-news-header">Similar News</h3>
            <div class="news-detail__sim-news-container">
                @for(similarPost of similarPosts;track similarPost.id) {
                <a href="" class="news-detail__sim-news-card">
                    <div class="news-detail__sim-news-text">
                        {{similarPost.title}}
                    </div>
                    <img src="{{similarPost?.imgUrl}}" alt="{{similarPost?.title}}" class="news-detail__sim-news-image">
                </a>
                }
            </div>
        </div>

    </div>






    <div class="news-detail--commentaries">
        <app-comment-input></app-comment-input>
        @for(commentary of commentaries; track commentary.id) {
        <app-comment [comment]="commentary"></app-comment>
        }
    </div>



</div>