<div class="user__profile">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>title</mat-label>
          <input matInput formControlName="title"  placeholder="title">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>short desc</mat-label>
            <textarea matInput formControlName="shortDescription" placeholder="short description"></textarea>
          </mat-form-field>

      
        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput formControlName="article" placeholder="add post"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>img</mat-label>
            <input matInput type="url" formControlName="imgUrl"  placeholder="img">
          </mat-form-field>
        
        <button type="submit"> add post</button>
      </form>
</div>




<button type="button" (click)="logout()">logOut</button>