@import 
'./scss/variables', 
'./scss/utils',
'./scss/_normalize';


body {
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.28;
    color: var(--color-light);
}

html, body { height: 100%; }
body { margin: 0; font-family: Manrope, "Helvetica Neue", sans-serif; }
