:root {
    --color-accent: #e30613;
    --color-accent-secondary :#960c14;
    --color-accent-third :#c61613;
    --color-accent-hover :#af1311;
    --color-dark: #000;
    --color-light:#fff;
    --color-gray-light: #f6f6f6;
    --color-gray:#888;


    --font-family-base: "Manrope", sans-serif;


    --container-width: 1572px;
    --container-padding-x: 32px;
}